{% for user in users -%} 
  {% if user.admin -%}
    {% if (user.access == "all") or (user.access is iterable and user.access|select('in', group_names)|list) -%}
{{ user.name }}, 
    {%- endif %}
  {%- endif %}
{%- endfor %}